div {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Asap', sans-serif;
  font-size: 20px;
  height: 100%;
}
form,
fieldset,
input {
  margin: 0;
  outline: none;
}
.page {
  position: relative;
  min-height: 100%;
  z-index: 0;
}
.top-line {
  height: 9px;
  background-color: #ff7979;
  width: 100%;
}
.top-bar {
  height: 55px;
  width: 100%;
  background-color: #ff7979;
  position: fixed;
  z-index: 100;
}
.top-bar .wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.top-bar .logo {
  text-align: center;
  padding: 15px;
}
.top-bar .logo a {
  color: white;
  text-decoration: none;
}
.top-bar .logo a:hover {
  background-color: rgba(255, 184, 184, 0.29);
}
.main {
  background-color: white;
  padding: 58px 0 50px;
  margin: 0 auto;
  position: relative;
  min-width: 100%;
  min-height: 102%;
}
.main .hero {
  min-width: 240px;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}
.main .hero #logo {
  font-size: 48px;
  text-align: center;
  padding: 40px;
}
.main .hero #search-box {
  width: 100%;
  font-size: 36px;
}
.footer {
  background-color: rgba(255, 184, 184, 0.29);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  padding: 1em;
  overflow: hidden;
}
.prof-course-lookup {
  border: none;
  width: 800px;
  margin: 0 auto;
  padding: 40px 0 5px;
  max-height: 75px;
}
.selection {
  display: block;
  clear: both;
  background-color: #C69999;
  color: grey;
}
.selection .info {
  float: left;
}
.selection .choices {
  float: right;
}
.search-results {
  min-width: 240px;
  max-width: 600px;
  margin: 0 auto;
}
.search-results .result-card {
  margin: 10px auto 10px;
  height: 100px;
  position: relative;
  clear: both;
  padding: 10px;
  background-color: #E4DEDE;
}
.search-results .result-card .left {
  display: inline-block;
  vertical-align: middle;
  width: 31%;
  height: 100%;
  overflow: hidden;
  text-align: left;
}
.search-results .result-card .middle {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  width: 31%;
  vertical-align: middle;
  text-align: center;
}
.search-results .result-card .right {
  height: 100%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  width: 31%;
  text-align: right;
}
.search-results .result-card span {
  display: block;
}
.search-results .result-card ul {
  list-style: none;
}
.search-results .result-card .name {
  font-weight: bold;
}
.search-results .result-card .years {
  font-size: 14px;
}
